<div id='battleView'>

  <div id='fightText'></div>
  <div id='monsterArea'></div>

  <div id='controlPanel'>
    <div id='characterOrders' class='hide'>
      <a href='#' class='button fight-button'>Attack</a>
      <a href='#' class='button abilities-button'>Abilities</a>
      <a href='#' class='button spells-button'>Spells</a>
      <a href='#' class='button items-button'>Items</a>
      <a href='#' class='button run-button'>Run Away</a>
      <a href='#' class='button back-button hide'>Back</a>
    </div>

    <div id='partyOrders' class='hide'>
      <a href='#' class='button button-primary start-round-button'>Start Round</a>
      <a href='#' class='button back-button'>Back</a>
    </div>
  </div>

</div>
