<div id='battleView'>

  <div id='fightText'></div>

  <div id='battlefield'>
    <div class='rank rank-1'></div>
    <div class='rank rank-2'></div>
    <div class='rank rank-3'></div>
    <div class='rank rank-4'></div>
    <div class='rank rank-5'></div>
  </div>

  <div id='activeCharacterGlow'></div>

  <div id='controlPanel'>
    <div class='clip-area'>

      <div id='actionTabs'>
        <ul class='actions'>
          <li class='small-margin-right'><a href='#' class='button attack-button'>Attack</a></li>
          <li class='small-margin-right'><a href='#' class='button abilities-button'>Abilities</a></li>
          <li class='small-margin-right'><a href='#' class='button spells-button'>Spells</a></li>
          <li class='small-margin-right'><a href='#' class='button items-button'>Use</a></li>
          <li><a href='#' class='button orders-button'>Orders</a></li>
          <li><a href='#' class='button back-button'>Back</a></li>
        </ul>
      </div>

      <div id='attackOptions' class='sub-menu hide'>
        <div class='weapon main-hand'>
          <span class='type'>Main Hand</span>
          <span class='name'></span>
          <span class='modes'></span>
        </div>
        <div class='weapon off-hand'>
          <span class='type'>Off Hand</span>
          <span class='name'></span>
          <span class='modes'></span>
        </div>
        <div class='margin-top'>
          <a class='button button-big button-primary commit-attack-button'>Attack!</a>
        </div>
      </div>

      <div id='abilityOptions' class='sub-menu hide'>
        Ability Options
      </div>

      <div id='spellOptions' class='sub-menu hide'>
        Spell Options
      </div>

      <div id='itemOptions' class='sub-menu hide'>
        Item Options
      </div>

      <div id='orderOptions' class='sub-menu hide'>
        Order Options
      </div>

      <div id='targetFrame' class='hide'>
        <div class='title'>Target</div>
        <ul class='target-list'>
          <li class='rank-1 empty'></li>
          <li class='rank-2 empty'></li>
          <li class='rank-3 empty'></li>
          <li class='rank-4 empty'></li>
          <li class='rank-5 empty'></li>
        </ul>
      </div>

      <div id='partyOrders' class='hide'>
        <a href='#' class='button button-primary start-round-button'>Start Round</a>
        <a href='#' class='button back-button'>Back</a>
      </div>

    </div>
  </div>

</div>
