
@font-face {
  font-family: baskerville;
  src: url("../assets/fonts/LibreBaskerville-Regular.ttf");
}

@font-face {
  font-family: baskerville-italic;
  src: url("../assets/fonts/LibreBaskerville-Italic.ttf");
}

@font-face {
  font-family: baskerville-bold;
  src: url("../assets/fonts/LibreBaskerville-Bold.ttf");
}
