
@mixin full-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.background-image {
  @include full-screen;
  background-position: center;
  background-size: cover;
}

.root-element {
  @include full-screen;
  z-index: $z-root;
}

.center-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.base-frame {
  display: block;
  padding: 10px;
  border: $border-normal;
  background-color: $bg-frame;
  box-shadow: $shadow-frame;
}

.overlay {
  position: absolute;
  top: 50px;
  left: 50px;
  height: calc(100% - 150px);
  width: calc(100% - 100px);
  min-width: 800px;
  background-color: rgba(0,0,0,0.70);
  border: $border-normal;
  border-bottom: $border-light;
  box-shadow: $shadow-overlay;
  z-index: $z-overlay;
  overflow: hidden;
}
.overlay.light-overlay {
  background-color: rgba(0,0,0,0.50);
}

.overlay.narrow {
  left: 200px;
  min-width: 400px;
  width: calc(100% - 400px);
}

.overlay-footer {
  position: absolute;
  bottom: 55px;
  left: 50px;
  width: calc(100% - 110px);
  min-width: 790px;
  height: 32px;

  padding: 5px;
  margin-top: 5px;

  background-color: rgba(0,0,0,0.80);
  border: $border-normal;
  border-top: none;
  box-shadow: $shadow-overlay;

  z-index: $z-overlay-footer;
}

.overlay-footer.button-row {
  text-align: right;
}

.overlay-footer.narrow {
  left: 200px;
  min-width: 390px;
  width: calc(100% - 410px);
}

// Flex Container Classes
.flex { display:flex;  }
.flex-center { justify-content: center; } // Align Horizontally
.flex-middle { align-items: center; }     // Align Vertically
.flex-wrap { flex-wrap: wrap; }

// Flex Item Classes
.flex-grow { flex-grow:1; }
