
#mainContent {
  position: absolute;
  z-index: 100
}

#activeBackground {
  z-index: 0
}

.background-image {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
}

// Flex Container Classes
.flex { display:flex;  }
.flex-center { justify-content: center; } // Align Horizontally
.flex-middle { align-items: center; }     // Align Vertically
.flex-wrap { flex-wrap: wrap; }

// Flex Item Classes
.flex-grow { flex-grow:1; }

