
#mainContent {
}

#activeBackground {
  z-index: $z-background;
}

.background-image {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
}

.root-element {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: $z-root;
}

.center-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.base-frame {
  display: block;
  padding: 10px;
  border: $border-normal;
  background-color: $bg-frame;
  box-shadow: $shadow-frame;
}

// Flex Container Classes
.flex { display:flex;  }
.flex-center { justify-content: center; } // Align Horizontally
.flex-middle { align-items: center; }     // Align Vertically
.flex-wrap { flex-wrap: wrap; }

// Flex Item Classes
.flex-grow { flex-grow:1; }

