
<div id="mainMenu" class="root-element">

  <div class="center-area">
    <div class="base-frame">
      <h1 class="border-bottom margin-bottom">Rhysh</h1>

      <ul>
        <li><a href='#game.new'          class='button button-big send-command clear-content'>New Game</a></li>
        <li><a href='#game.continue'     class='button button-big send-command clear-content continue-button disabled'>Continue</a></li>
        <li><a href='#game.show-load'    class='button button-big send-command load-game load-button disabled'>Load Game</a></li>
        <li><a href='#game.show-options' class='button button-big send-command show-options'>Options</a></li>
      </ul>

      <div class="show-when-dev margin-top">
        <h5>Development Tools</h5>
        <ul>
          <li><a href='#' class='button preview-features'>Preview Features</a></li>
          <li><a href='#' class='button preview-zone'>Preview Zone</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>

<div id='loadGame' class='hide'>
  <div class='overlay'>
    <div class='scrolling-panel track-parent'>
      <div class='scrolling-panel-content'>
      </div>
    </div>
  </div>

  <div class='overlay-footer button-row'>
    <a href='#' class='button back-to-main-button'>Back</a>
    <a href='#' class='button load-button disabled'>Load</a>
  </div>

  <div class='game-template' class='hide'>
    <div class='game'>
      Game to load...
    </div>
  </div>
</div>
