
<div id="mainMenu" class="root-element">

  <div id='baseMenu' class="center-area">
    <div class="base-frame">
      <h1 class="border-bottom margin-bottom">Rhysh</h1>

      <ul>
        <li><a href='#' class='new-button button button-big'>New Game</a></li>
        <li><a href='#' class='continue-button button button-big disabled'>Continue</a></li>
        <li><a href='#' class='load-button button button-big disabled'>Load Game</a></li>
        <li><a href='#' class='options-button button button-big'>Options</a></li>
        <li><a href='#' class='warning-button button button-big'>Content Warnings</a></li>
      </ul>

      <div class="show-when-dev margin-top">
        <h5>Development Tools</h5>
        <ul>
          <li><a href='#' class='button preview-features'>Preview Features</a></li>
          <li><a href='#' class='button preview-zone'>Preview Zone</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div id='contentWarnings' class='hide'>
    <div class='overlay narrow'>
      <h2 class='margin'>Content Warnings</h2>
      <dl class='warnings'>
        <dt>AI Generated Art</dt>
        <dd>
          This game makes extensive use of AI generated art. While I understand that people have reasonable ethical
          objections to the way AI art generators are trained, I view it as a valuable tool. Without it, this game
          wouldn't have had any graphics, and probably would not have been possible.
        </dd>
        <dt>Rape</dt>
        <dd>
          I do not condone sexual violence, this game however does feature quite a lot of it. Rhysh is not a porn game.
          It's an erotic fantasy/horror adventure game that explores many of the darker sides of sexual fantasy. I
          don't expect that everyone will feel comfortable with the content herein. My purpose in fact is to make the
          player uncomfortable. To horrify, shock, and disgust.
        </dd>
        <dt>NTR</dt>
        <dd>
          Management is not responsible for waifus getting raped while exploring the rape dungeon.
        </dd>
      </dl>
    </div>
    <div class='overlay-footer narrow button-row'>
      <a href='#' class='button close-button'>Close</a>
    </div>
  </div>

</div>

<div id='loadGame' class='hide'>
  <div class='overlay narrow'>
    <div class='scrolling-panel track-parent'>
      <div class='game-list scrolling-panel-content'>
      </div>
    </div>
  </div>

  <div class='overlay-footer narrow button-row'>
    <a href='#' class='button back-to-main-button'>Back</a>
  </div>

  <div class='game-template' class='hide'>
    <div class='game'>
      <div class='top-row'>
        <span class='name'>
          <span class='first'></span>
          <span class='last'></span>
        </span>
        <span class='details'>
          (Level <span class='level'></span>
          <span class='sex'></span>
          <span class='species'></span>
          <span class='archetype'></span>)
        </span>
      </div>
      <dl class='extra'>
        <dt>Date</dt><dd class='date'></dd>
        <dt>Location</dt><dd class='location'></dd>
      </dl>
      <div class='buttons'>
        <a href='#' class='delete-game button button-small button-danger'>Delete</a>
      </div>
    </div>
  </div>
</div>
