<div id='newGame'>

  <div class='overlay'>
    <form id='newGameForm'>

      <h2>Create a main character</h2>

      <!-- Step 1 : Pick Architype -->
      <div class='step-1'>
        <ul class='architypes'>
          <li><a href='#' class='button black-knight selected'><span class='drop'>Black Knight</span></a></li>
          <li><a href='#' class='button slaver'><span class='drop'>Slaver</span></a></li>
          <li><a href='#' class='button cultist'><span class='drop'>Cultist</span></a></li>
          <li><a href='#' class='button mindbender'><span class='drop'>Mindbender</span></a></li>
          <li><a href='#' class='button dominatrix'><span class='drop'>Dominatrix</span></a></li>
          <li><a href='#' class='button chosen'><span class='drop'>Chosen</span></a></li>
        </ul>

        <div class='descriptions'>
          <div class='black-knight'>
            <p>
              The Black Knight is a fearsome armored warrior whose defensive fighting style is focused on disabling
              opponents with grappling techniques and counter attacks. While his persistent fear aura keeps his
              followers in line, it also ensures that he will always be more feared than loved.
            </p>
            <p class='requirements'>Male Only</p>
            <p class='note'>
              The Order of Excalpia is rather regressive and only allow men to join their ranks.
            </p>
          </div>

          <div class='slaver hide'>
            <p>
              The Slavers are cruel and cunning rogues who prefer to attack from the shadows, letting their many
              slaves put themselves in danger while they uses their skills to cripple their opponents.
            </p>
            <p class='requirements'>Elf, Orc, Lupin, or Satyr Only</p>
            <p class='note'>
              The profession requires a strong and agile physique. While the dragonkind are physical enough for the
              work, they consider it beath them.
            </p>
          </div>

          <div class='cultist hide'>
            <p>
              The Cultists of Rahm are feared across the world for their ability to capture and convert people to their
              strange eldritch religion. Their unspeakable gods grant them otherworldly powers but require sacrifice to
              remain in their favor.
            </p>
            <p class='requirements'>Elf, Nymph, Dragon, or Satyr Only</p>
            <p class='note'>
              A cultist must have a strong natural affinity to magic in order to attract the attention of the nameless
              gods.
            </p>
          </div>

          <div class='mindbender hide'>
            <p>
              The Mindbenders pursue a dangerous school of mind control magics that have been banned in most civilised
              nations. While they also learn some telekinetic spells for basic defense their real power comes from
              their fanatically devoted followers.
            </p>
            <p class='requirements'>Elf, Nymph, Dragon, or Satyr Only</p>
            <p class='note'>
              The mindbender's spells require a strong natural affinity to magic to learn.
            </p>
          </div>

          <div class='dominatrix hide'>
            <p>
              The Dominatrix delights in the suffering of others, learning a variety of skills to both inflict pain and
              to inspire people to worship her. She is an agile and deadly combatant when she chooses to be, though
              often she'd let her devoted slaves do the fighting for her.
            </p>
            <p class='requirements'>Female or Futanari Only</p>
            <p class='note'>
              The skills and techniques of the dominatrix is passed from mistress to slave, and it is forbidden to
              train a man.
            </p>
          </div>

          <div class='chosen hide'>
            <p>
              The eldritch gods of the Cult of Rahm have chosen this one to be a vessel. While the cultists act as a
              conduit for the unspeakable gods' power, a Chosen One is the physical embodiment of corruption. They
              wield many of the same otherworldly powers, though often in a more physical way.
            </p>
            <p class='requirements'>Male or Futanari Only</p>
            <p class='note'>
              There are some who theorise that the nameless gods choose their vessels based on dick size alone.
            </p>
          </div>
        </div>
      </div>

      <!-- Step 2 : Pick Species Sex and Gender -->
      <div class='step-2 hide'>
      </div>

    </form>
  </div>

  <div class='overlay-footer button-row'>
    <a href='#' class='hide button back-button'>Back</a>
    <a href='#' class='button choose-architype-button'>Choose</a>
    <a href='#' class='hide button choose-species-button'>Choose</a>
    <a href='#game.start' class='hide button start-button'>Start</a>
  </div>

</div>
