<div id="eventView">
  <div class='text-layout normal-layout hide'>
    <div class='text-container'></div>
  </div>

  <div class='text-layout player-speaking hide'>
    <div class='portrait'></div>
    <div class='text-container'></div>
  </div>

  <div class='text-layout character-speaking hide'>
    <div class='portrait'></div>
    <div class='text-container'></div>
  </div>

  <div class='selection-stage hide'>
    <div class='selection-frame'>
      <div class='header'></div>
      <div class='selection-buttons'></div>
    </div>
  </div>
</div>
