
#battlefield {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: calc(100% - 260px);
  z-index: $z-battlefield;

  .rank {
    position: absolute;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
  }

  .rank-1 { top: 200px; z-index:50; }
  .rank-2 { top: 162px; z-index:40; }
  .rank-3 { top: 124px; z-index:30; }
  .rank-4 { top: 86px; z-index:20; }
  .rank-5 { top: 50px; z-index:10; }

  .rank-1 .monster-card {
    height: 160px;
    width: 120px;
    margin: 10px;
  }

  .rank-2 .monster-card {
    height: 147px;
    width: 110px;
    margin: 8px;
  }

  .rank-3 .monster-card {
    height: 133px;
    width: 100px;
    margin: 6px;
  }

  .rank-4 .monster-card {
    height: 120px;
    width: 90px;
    margin: 4px;
  }

  .rank-5 .monster-card {
    height: 107px;
    width: 80px;
    margin: 2px;
  }

  .monster-card {
    border: $border-light;
    background-image: url('../assets/portraits/goblin-h-01.jpg');
    background-size: contain;
    box-shadow: 2px 2px 15px 5px rgb(0 0 0) inset, 0px 0px 5px rgb(0 0 0) inset;
  }

}

#controlPanel {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 400px;
  max-height: 400px;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  z-index: $z-battle-controls;

  .clip-area {
    height: 200px;
    max-height: 200px;
    overflow: hidden;
  }
}

#actionTabs {
  border-bottom: $border-normal;
  margin: 10px;
  height: 40px;
  .actions { display: flex; }
}

#attackOptions {
  display: inline-block;
  margin-top: 10px;
  margin-left: 30px;

  .weapon {
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
    border: $border-light;
    background-color: $bg-frame;
    box-shadow: $shadow-frame;
  }

  .type {
    display: inline-block;
    width: 100px;
    color: $fg-weak;
    font-size: $fs-big;
  }

  .name {
    font-size: $fs-big;
    color: $fg-strong;
  }

  .empty {
    color: $fg-very-weak;
  }

  .modes {
    display: flex;
    padding-top: 5px;
    border-top: $border-light;

    a { margin-right:5px; }
  }
}

#targetFrame {
  position: absolute;

  right: 20px;
  bottom: 240px;
  height: 220px;
  width: 300px;
  padding: 5px;

  border: $border-normal;
  background-color: $bg-dark;
  box-shadow: $shadow-dark;
  z-index: $z-battle-target-frame;

  .title {
    text-align: center;
    font-size: $fs-bigger;
    border-bottom: $border-normal;
    margin-bottom: 9px;
  }

  li {
    box-sizing: border-box;
    height: 28px;
    line-height: 28px;
    font-size: $fs-big;
    margin-bottom: 10px;
    padding: 0px 5px;
    background-color: $bg-dark;
    border: $border-normal;
    border-radius: 4px;
    box-shadow: $shadow-frame;
  }
  li:last-child { margin:0; }
  li.empty { opacity:0.25; }

  .count {
    float: right;
    font-family: 'aleo';
    color: $fg-weak;
  }
}

#battleText {
  position: absolute;
  height: 130px;
  width: 100%;
  bottom: 250px;
  left: 0;
  overflow: hidden;

  font-size: $fs-huge;
  text-align: center;
  text-shadow: 10px 10px 10px #000;
  z-index: $z-battle-text;

  span { margin: 0 5px; }

  .roll {
    font-size: 80%;
    font-family: 'roboto-mono';
    opacity: 0.80;
  }
  .damage {
    font-size: 80%;
    font-family: 'roboto-mono';
    color: $fg-button-danger;
  }

  .severity-bad { color: rgb(180,140,50); }
  .attempt { color:$fg-weak; }
  .miss { color:$fg-weak; }
  .hit { color:$fg-body; }
  .criticalMiss { color:$fg-button-danger; }
  .criticalHit { color:rgb(250,0,0); }
}

#fightText {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  line-height: 0;
  color: red;
  text-align: center;
  font-size: 15vw;
  text-shadow: 10px 10px 10px #000;
  font-family: 'aleo-bold';
  opacity: 1;
  z-index: $z-alerts;
}

#fightText.fade-out {
  opacity: 0;
  transition: 1.3s ease-out;
}

#backgroundImage.battle-start {
  filter: contrast(5) grayscale(1) brightness(5);
}

#backgroundImage.battle-start.battle-effect {
  transition: 1s ease-out;
  filter: contrast(1) grayscale(0) brightness(1);
}

#activeCharacterGlow {
  position: absolute;
  height: 100px;
  width: 100px;
  box-shadow: $shadow-glow-frame;
  z-index: $z-party-glow-frame;
}