

#battlefield {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: calc(100% - 260px);
  z-index: $z-battlefield
}

#controlPanel {
  position: absolute;

  width: 600px;
  left: calc(50% - 312px);
  bottom: 200px;

  padding: 10px;
  border: $border-normal;
  background-color: $bg-dark;
  box-shadow: $shadow-dark;
  z-index: $z-battle-controls;

  ul.actions {
    display: flex;
  }

  .status-row {
    font-size: $fs-bigger;
    border-bottom: $border-normal;
    margin-bottom: 10px;
  }
}

#monsterList {
  position: absolute;

  height: 200px;
  width: 300px;
  top: 100px;
  left: calc(50% - 162px);

  padding: 10px;
  border: $border-normal;
  background-color: $bg-dark;
  box-shadow: $shadow-dark;
  z-index: $z-battle-monsters;

  li {
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
    font-size: $fs-bigger;
    margin-bottom: 10px;
    padding: 0px 5px;
    background-color: $bg-dark;
    border: $border-normal;
    border-radius: 4px;
    box-shadow: $shadow-frame;
  }
  li:last-child { margin:0; }
  li.empty { opacity:0.25; }

  .count {
    float: right;
    font-family: 'aleo';
    color: $fg-weak;
  }
}

#fightText {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  line-height: 0;
  color: red;
  text-align: center;
  font-size: 15vw;
  text-shadow: 10px 10px 10px #000;
  font-family: 'aleo-bold';
  opacity: 1;
  z-index: 100;
}

#fightText.fade-out {
  opacity: 0;
  transition: 1.3s ease-out;
}

#backgroundImage.battle-start {
  filter: contrast(5) grayscale(1) brightness(5);
}

#backgroundImage.battle-start.battle-effect {
  transition: 1s ease-out;
  filter: contrast(1) grayscale(0) brightness(1);
}

