#eventView {

  .click-advance {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $z-event-clicker;
  }

  .normal-layout {
    .text-container {
      position: absolute;
      bottom:20px;
      left: calc(10% - 11px);
      width: 80%;
      height: 200px;
      z-index: $z-event-text;
    }

    .event-text {
      padding: 30px;
      font-size: $fs-bigger;
    }
  }

}