#eventView {

  .click-advance {
    @include full-screen;
    z-index: $z-event-clicker;
  }

  .normal-layout {
    .text-container {
      position: absolute;
      bottom:20px;
      left: calc(10% - 11px);
      width: 80%;
      height: 200px;
      z-index: $z-event-text;
    }

    .event-text {
      padding: 30px;
      text-shadow: 0px 0px 5px black, 0px 0px 2px black;
    }
  }

}
