#eventView {

  #clickAdvance {
    @include full-screen;
    z-index: $z-event-clicker;
  }

  .text-layout {
    .text-container {
      display: block;
      position: absolute;
      bottom: 20px;
      min-height: 200px;
      border: $border-normal;
      box-shadow: $shadow-frame;
      z-index: $z-event-text;
    }

    .event-text {
      padding: 30px;
      text-shadow: 0px 0px 5px black, 0px 0px 2px black;
    }

    .portrait {
      position: absolute;
      bottom: 10px;
      height: 600px;
      width: 450px;

      border: $border-normal;
      border-radius: 5px;
      box-shadow: $shadow-deep;

      z-index: $z-event-portrait;
    }
    .speaker-label {
      padding: 5px 30px;
      margin-bottom: -25px;
      font-size: $fs-huge;
      z-index: $z-event-portrait;
    }
  }

  .normal-layout {
    .text-container {
      left: 20px;
      width: calc(100% - 62px);
    }
  }

  .player-speaking {
    .text-container {
      left: 458px;
      width: calc(100% - 480px)
    }
    .portrait { left: 10px; }
    .speaker-label { background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); }
  }

  .character-speaking {
    .text-container {
      right: 458px;
      width: calc(100% - 480px)
    }
    .portrait {
      right: 10px;
      transform: rotate(180deg) scaleY(-1);
    }
    .speaker-label {
      text-align: right;
      background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    }
  }

  .attribute-checks {
    margin-bottom: -30px;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 80%;
    border-bottom: $border-light;

    .math {
      font-size: 80%;
      margin: 0 20px;
      font-family: 'roboto-mono';
    }

    .success-true .outcome { color: $fg-button-success; }
    .success-false .outcome { color: $fg-button-danger; }
  }

  .selection-stage {
    @include full-screen;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: $z-event-text;

    .selection-frame {
      position: absolute;
      min-width: 200px;
      padding: 10px;
      border: $border-normal;
      box-shadow: $shadow-frame;
      background-color: $bg-frame;
    }

    .header {
      margin-bottom: 5px;
      padding: 10px 20px;
      font-size: $fs-bigger;
      border-bottom: $border-normal;
    }

    .selection-buttons {
      display: flex;
      flex-direction: column;

      a {
        flex-grow: 1;
        margin: 5px 0;
      }
    }
  }

}
