

#mainContent {
}

#activeBackground {
  z-index: $z-background;
}

#mainCover {
  @include full-screen;
  background-color: rgb(0,0,0);
  z-index: $z-main-cover;
}

.main-loading {
  display: flex;
  justify-content: center;
  .loading {
    margin-top: 300px;
    font-size: $fs-huge;
  }
}
