#newGame {

  #newGameForm {
    padding: 20px 60px;
    min-width: 900px;
  }

  h2 {
    text-align: center;
    width: 850px;
    margin: auto;
    border-bottom: $border-normal;
    color: $fg-body;
  }

  .radio-icons {
    li {
      display: inline-block;
    }

    a.button {
      padding: 0;
      text-align: center;
      background-size: contain;
      border: none;
    }

    .drop {
      display: block;
      position: absolute;
      height: 24px;
      line-height: 24px;
      background-color: rgba(0,0,0,0.5);
    }

    a.selected { color: rgb(246,88,88) !important; }
    a:active { box-shadow:none }

    &.sexes a.male { background-image: url('../assets/icons/sex-male.png'); }
    &.sexes a.female { background-image: url('../assets/icons/sex-female.png'); }
    &.sexes a.futa { background-image: url('../assets/icons/sex-futa.png'); }

    a.knight { background-image: url('../assets/icons/arch-black-knight.png'); }
    a.slaver { background-image: url('../assets/icons/arch-slaver.png'); }
    a.cultist { background-image: url('../assets/icons/arch-cultist.png'); }
    a.mindbender { background-image: url('../assets/icons/arch-mindbender.png'); }
    a.dominatrix { background-image: url('../assets/icons/arch-dominatrix.png'); }
    a.chosen { background-image: url('../assets/icons/arch-chosen.png'); }

    a.elf.male { background-image: url('../assets/icons/species-elf-m.png'); }
    a.orc.male { background-image: url('../assets/icons/species-orc-m.png'); }
    a.minotaur.male { background-image: url('../assets/icons/species-minotaur-m.png'); }
    a.dragonkind.male { background-image: url('../assets/icons/species-dragonkind-m.png'); }
    a.lupin.male { background-image: url('../assets/icons/species-lupin-m.png'); }
    a.satyr.male { background-image: url('../assets/icons/species-satyr-m.png'); }

    a.elf.female { background-image: url('../assets/icons/species-elf-f.png'); }
    a.nymph.female { background-image: url('../assets/icons/species-nymph-f.png'); }
    a.orc.female { background-image: url('../assets/icons/species-orc-f.png'); }
    a.dragonkind.female { background-image: url('../assets/icons/species-dragonkind-f.png'); }
    a.lupin.female { background-image: url('../assets/icons/species-lupin-f.png'); }
    a.satyr.female { background-image: url('../assets/icons/species-satyr-f.png'); }
  }

  .architypes {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;

    a.button {
      height: 128px;
      width: 128px;
    }

    .drop {
      top: 210px;
      width: 128px;
    }
  }

  .descriptions {
    margin: auto;
    width: 850px;
    font-size: $fs-big;

    p.requirements {
      margin-bottom: 0;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 20px;
      color: $fg-strong;
      border-bottom: $border-light;
    }

    p.note {
      margin-top: 2px;
      margin-left: 20px;
    }
  }

  .sexes {
    text-align: center;
    margin: 30px;

    a.button {
      height: 64px;
      width: 64px;
    }

    .drop {
      top: 155px;
      width: 64px;
    }
  }

  .species {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;

    a.button {
      height: 183px;
      width: 128px;
    }

    .drop {
      top: 374px;
      width: 128px;
    }
  }

}
