
#newGame {

  #newGameForm {
    padding: 20px 60px;
    min-width: 700px;
  }

  h2 {
    text-align: center;
    width: 666px;
    margin: auto;
    border-bottom: $border-normal;
    color: $fg-body;
  }

  .architypes {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;

    li {
      display: inline-block;
      margin: 5px;
    }

    a.button {
      height: 100px;
      width: 100px;
      padding: 0;
      text-align: center;

      background-size: contain;
      border: none;
    }

    a.selected { color: rgb(246,88,88) !important; }
    a:active { box-shadow:none }

    a.black-knight { background-image: url('../assets/icons/arch-black-knight.png'); }
    a.slaver { background-image: url('../assets/icons/arch-slaver.png'); }
    a.cultist { background-image: url('../assets/icons/arch-cultist.png'); }
    a.mindbender { background-image: url('../assets/icons/arch-mindbender.png'); }
    a.dominatrix { background-image: url('../assets/icons/arch-dominatrix.png'); }
    a.chosen { background-image: url('../assets/icons/arch-chosen.png'); }

    .drop {
      display: block;
      position: absolute;
      top: 185px;
      width: 100px;
    }
  }

  .descriptions {
    margin: auto;
    width: 666px;
    font-size: $fs-big;

    p.requirements {
      margin-bottom: 0;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 20px;
      color: $fg-strong;
      border-bottom: $border-light;
    }

    p.note {
      margin-top: 2px;
      margin-left: 20px;
    }
  }


  // For boat
  // background-color: rgba(0, 8, 16, 0.8);
}
