
#tooltipFrame {
  position: fixed;

  min-height: 30px;
  min-width: 100px;
  max-width: 400px;

  box-sizing: border-box;
  background-color: rgba(0,0,0,0.9);
  border: $border-normal;
  border-radius: 5px;
  box-shadow: $shadow-frame;
  z-index: $z-tooltip;

  .basic-tooltip-content {
    padding: 5px 10px;
    line-height: 18px;
  }

  dl {
    margin: 0 10px 10px;
    dt {
      width: auto;
      margin-left: 10px;
      margin-right: 5px;
      color: $fg-strong;
    }
    dd {
      margin-left: 20px;
    }
  }
}
